section.versiones
	a(name="versiones").anclas
	.container
		h6
			b VERSIONES
		h2 Elige tu Corolla
		a(href="").link.descarga Descargar catálogo
	.container
		.slide
			div
				div
					.img
						img(src="#{urlSitio}images/autos/modelos/corolla/corollaS.png")
						h6 
							span Corolla 
							| C
						span Desde 
							b $256,300
					.info
						ul
							li Transmisión manual
							li Cinco velocidades
							li Frenos ABS
							li Rin de acero
					dl
						dd
							a(href="#").link VER DETALLE
						dd
							a(href="#").link CONFIGURA
			div
				div
					.img
						img(src="#{urlSitio}images/autos/modelos/corolla/corollaS.png")
						h6 
							span Corolla 
							| Base MT
						span Desde 
							b $271,700
					.info
						ul
							li Transmisión manual
							li Sensor de baja presión en neumáticos
							li Frenos ABS
							li Rin de acero
					dl
						dd
							a(href="#").link VER DETALLE
						dd
							a(href="#").link CONFIGURA
			div
				div
					.img
						img(src="#{urlSitio}images/autos/modelos/corolla/corollaS.png")
						h6 
							span Corolla 
							| Base CVT
						span Desde 
							b $281,900
					.info
						ul
							li Transmisión CVT
							li Siete velocidades (simulado)
							li Frenos ABS
							li Rin de acero
					dl
						dd
							a(href="#").link VER DETALLE
						dd
							a(href="#").link CONFIGURA
			div
				div
					.img
						img(src="#{urlSitio}images/autos/modelos/corolla/corollaS.png")
						h6 
							span Corolla 
							| LE CVT
						span Desde 
							b $307,500
					.info
						ul
							li Transmisión CVT
							li Siete velocidades (simulado)
							li Frenos ABS
							li Rin de aluminio
					dl
						dd
							a(href="#").link VER DETALLE
						dd
							a(href="#").link CONFIGURA
			div
				div
					.img
						img(src="#{urlSitio}images/autos/modelos/corolla/corollaS.png")
						h6 
							span Corolla 
							| SE MT
						span Desde 
							b $317,800
					.info
						ul
							li Transmisión manual
							li Siete velocidades
							li Spoiler
							li Quemacocos eléctrico
					dl
						dd
							a(href="#").link VER DETALLE
						dd
							a(href="#").link CONFIGURA
			div
				div
					.img
						img(src="#{urlSitio}images/autos/modelos/corolla/corollaS.png")
						h6 
							span Corolla 
							| SE CVT
						span Desde 
							b $338,300
					.info
						ul
							li Transmisión CVT
							li Espejo lateral con direccionales
							li Spoiler
							li Quemacocos eléctrico
					dl
						dd
							a(href="#").link VER DETALLE
						dd
							a(href="#").link CONFIGURA
			div
				div
					.img
						img(src="#{urlSitio}images/autos/modelos/corolla/corollaS.png")
						h6 
							span Corolla 
							| SE PLUS
						span Desde 
							b $358,800
					.info
						ul
							li Cámara de reversa
							li Espejo lateral con desempañador integrado
							li Qumacocos eléctrico
							li Smart key
					dl
						dd
							a(href="#").link VER DETALLE
						dd
							a(href="#").link CONFIGURA
		.bx-controls-direction
			span#prevV
			span#nextV