footer
	.footer1
		.container
			.derechos
				dl
					dd
						.logo-toyota-footer
						span © Toyota México 2016
					dd
						p ¿Necesitas ayuda?
						a(href="tel:018007869682").boton LLAMAR
						.numero
					dd
					dd
						form#newsletter
							.input-field
								input(type="email" name="email" required="" aria-required="true" data-msg="Ingresa un correo válido").validate#email
								label(for="email" data-error="Ingresa un correo válido") Mantente informado
								button(type="submit").fa.fa-envelope

	.footer2
		.container
			nav.links-footer
				+links-footer(infolinksFooter)
			.menu-legales
				nav
					ul
						li
							a(href="#{urlSitio}terminos-y-condiciones.html") Términos y condiciones
						li
							a(href="#{urlSitio}politica-de-privacidad.html") Políticas de privacidad
						li
							a(href="#{urlSitio}politica-de-cookies.html") Políticas de Cookies
						li
							a(href="#{urlSitio}mapa-de-sitio.html") Mapa de sitio

	include scripts

.cookies.fadeInUp.animated
	.container
		dl
			dd
				p Este sitio utiliza cookies para asegurarse de obtener la mejor experiencia en nuestro sitio web. Para mas información haz 
					a(href="#{urlSitio}politica-de-cookies.html") Click aquí
			dd
				span.boton DE ACUERDO
include modulos/mensajes/error-page
include modulos/mensajes/error
include modulos/mensajes/correcto