.scripts
	link(rel="stylesheet" href="#{urlSitio}css/animate.css")
	link(rel="stylesheet" href="#{urlSitio}css/font-awesome.css")
	link(rel="stylesheet" href="#{urlSitio}css/ico/fontello.css")
	//- link(rel="stylesheet", href="#{urlSitio}library/bxslider/jquery.bxslider.css")
	link(rel="stylesheet", href="#{urlSitio}library/threesixty/threesixty.css")
	//-Import Google Icon Font
	link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
	//-Import materialize.css
	link(rel="stylesheet" href="#{urlSitio}css/materialize.css")
	//-script
	script(src="#{urlSitio}js/jquery.min.js")
	script(src="#{urlSitio}library/bxslider/jquery.bxslider.min.js")
	script(src="#{urlSitio}library/onscreen/jquery.onscreen.min.js")
	script(src="#{urlSitio}library/threesixty/threesixty.js")
	//-Import jQuery before materialize.js
	script(src="#{urlSitio}library/materialize/js/materialize.min.js")
	script(src="#{urlSitio}library/fancybox/jquery.fancybox.js")
	script(src="#{urlSitio}library/fancybox/helpers/jquery.fancybox-buttons.js")
	script(src="#{urlSitio}library/fancybox/helpers/jquery.fancybox-media.js")
	//-Import hoverdir
	script(src="#{urlSitio}library/hoverdir/modernizr.custom.97074.js")
	script(src="#{urlSitio}library/hoverdir/jquery.hoverdir.js")
	//-Import Validate
	script(src="#{urlSitio}library/validate/jquery.validate.min.js")
	script(src="#{urlSitio}js/core.js")