.menu-conoce-toyota 
	.menufixed(data-clase="menu-conoce-toyota")
		.container
			.titulo
			nav
				.datos
				ul
					li(class="#{location == 'somos-toyota' ? 'activo' : ''}")
						a(href="somos-toyota.html") SOMOS TOYOTA
					li(class="#{location == 'filosofia' ? 'activo' : ''}")
						a(href="filosofia.html") FILOSOFIA
					li(class="#{location == 'sustentabilidad' ? 'activo' : ''}")
						a(href="sustentabilidad.html") SUSTENTABILIDAD
					li(class="#{location == 'responsabilidad-social' ? 'activo' : ''}")
						a(href="responsabilidad-social.html") RESPONSABILIDAD SOCIAL
					li(class="#{location == 'produccion' ? 'activo' : ''}")
						a(href="produccion.html") PRODUCCIÓN
					li(class="#{location == 'por-que-toyota' ? 'activo' : ''}")
						a(href="por-que-toyota.html") ¿POR QUÉ TOYOTA?
				.btnTecnologia(class="#{location == 'tecnologia-toyota' ? 'activo' : ''}")
						a(href="tecnologia-toyota.html") TECNOLOGÍA TOYOTA